<!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h1>Please Enter Email & Password</h1>
                </div>
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <br>
                <a  routerLink='/register'>New User ? Click to signup!</a>
               
            </div>

        </div>
    </div>
</div> -->

<h1>Login</h1>
<form [formGroup]="loginForm"  (ngSubmit)="onSubmit(loginForm)">
<label for="username">Username</label>
<input type="text" formControlName="username">
<br>
<label for="password">Password</label>
<input type="password" formControlName="password" >
<br>
<button type="submit" >Login</button>
<div> {{loginForm.controls['errorMessage'].value}} </div>
</form>